* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.layout {
    display: grid;
    grid-template-rows: 4rem 6rem auto 6rem 6rem 4rem;
    grid-template-columns: 250px 1fr; /* Sidebar width + remaining space */
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar widget"
        "sidebar statistics"
        "footer footer";
    height: 100vh;
    font-family:'Times New Roman', Times, serif;
}

@media (min-width: 480px) {
    .layout {
        display: grid;
        grid-template-rows: 3rem auto 3rem;
        grid-template-columns: 250px auto auto;
        grid-template-areas:
            "sidebar header header"
            "sidebar main main"
            "sidebar footer footer";
    }
}

header {
    grid-area: header;
    background: #eee;
    text-align: center;
}

footer {
    grid-area: footer;
    background: #eee;
    padding-top: 10px;
    text-align: center;
}

nav.menu {
    grid-area: sidebar;
    background: transparent; /* Sidebar background will be handled by Sidebar component */
    display: flex;
    justify-content: center;
}

.landing-page {
    grid-area: main;
    background: #eee;
}



.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    width: 50%;
    text-align: left;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h1{
    font-family: fantasy;
    
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.join-now {
    
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 36px;
background: linear-gradient(225deg, #f0f0f0, #cacaca);
box-shadow:  -23px 23px 47px #afafaf,
             23px -23px 47px #e5990b;
}

.find-gym {
    background-color: white;
    color: rgb(79, 32, 13);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
background: linear-gradient(225deg, #f0f0f0,rgb(104, 44, 14));
box-shadow:  -23px 23px 47px rgb(158, 118, 118),
             23px -23px 47px #cacaca;
}

.stretch-image {
    width: 30%;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
}

.runner-image {
    width: 40%;
}
