/* Sidebar.css */

/*sidebar styling*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust the width as needed */
    height: 100vh; /* Full height */
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(47deg, #e2ac6f 0%, #725151 100%);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px); /* Corrected the syntax here */
}

.sidebar-logo {
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column; /* Change to column to stack img and h2 vertically */
    align-items: center;
    padding: 25px 10px 15px;
}


.sidebar-logo img {
    width: 80px;
    height: auto;
    margin-bottom: 15px; /* Add some space between the image and the h2 */
}

.sidebar-logo h2 {
    font-size: 2rem;
    margin-left: 0; /* Remove left margin */
    font-family: fantasy;
}

.sidebar-links {
    list-style: none;
    margin-top: auto; /* Adjusted for vertical centering */
    margin-bottom: auto; /* Adjusted for vertical centering */
    padding-left: 0;
    width: 100%; /* Make sure links take the full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the links horizontally */
}

.sidebar-links li {
    display: flex;
    border-radius: 5px;
    justify-content: flex-start;
    width: 100%; /* Make sure list items take the full width */
    align-items: center; /* Center the content of list items */
}

.sidebar-links li:hover {
    cursor: pointer;
    background: #f7f5f7;
}

.sidebar-links li span {
    padding: 12px 10px;
}

.sidebar-links li a {
    padding: 15px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    flex-grow: 1; /* Make link text take the remaining space */
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: start; /* Center the text horizontally */
}

.symbols img {
    max-width: 24px; /* Adjust the maximum width as needed */
    height: auto;
    margin-right: 15px; /* Add some spacing between icon and text */
}
