/* Általános stílusok */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: fantasy;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; /* Fix szélesség */
    position: relative;
    background-color: white;
    overflow: hidden; /* Felülírjuk az overflow tulajdonságot */
}

.app-name{
    position: absolute;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Középre igazítás */
    z-index: 1; /* A háttér fölé kerül */
    font-size: 600%;
}

/*Button design */
.button {
    position: absolute;
    top: 50%; /* Opcionális: Kicsit lejjebb helyezzük el a gombot a középponttól */
    left: 48%;
    

  }


/* Háttér blob stílusok és animáció */
/* .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:rgb(220, 215, 201) ;
} */


