.form-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 10px;
}

.title {
  font-size: 28px;
  color: rgb(127, 25, 7);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}


.form-client label {
  position: relative;
}

.form-client label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.submit {
  border: none;
  outline: none;
  background-color: rgb(19, 110, 80);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(24, 186, 91);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}




/* Center tables for demo */
table {
    margin: 0 auto;
  }
  
  /* Default Table Style */
  table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    height: fit-content;
  }
  table thead th,
  table tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
  }
  table caption {
    padding:.5em;
  }
  table th,
  table td {
    padding: .5em;
    border: 1px solid lightgrey;
  }
  /* Zebra Table Style */
  [data-table-theme*=zebra] tbody tr:nth-of-type(odd) {
    background: rgba(0,0,0,.05);
  }
  [data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
    background: rgba(255,255,255,.05);
  }
  /* Dark Style */
  [data-table-theme*=dark] {
    color: #ddd;
    background: #333;
    font-size: 12pt;
    border-collapse: collapse;
  }
  [data-table-theme*=dark] thead th,
  [data-table-theme*=dark] tfoot th {
    color: #aaa;
    background: rgba(0255,255,255,.15);
  }
  [data-table-theme*=dark] caption {
    padding:.5em;
  }
  [data-table-theme*=dark] th,
  [data-table-theme*=dark] td {
    padding: .5em;
    border: 1px solid grey;
  }